<form class="form" [formGroup]="form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Сумма</mat-label>
      <input formControlName="baseSum" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Валюта</mat-label>
      <mat-select formControlName="baseCurrency">
        @for (currency of currencies; track currency.val) {
          <mat-option [value]="currency">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="currency.icon">
            </mat-icon>
            {{ currency.val }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Сумма</mat-label>
      <input formControlName="targetSum" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Валюта</mat-label>
      <mat-select formControlName="targetCurrency">
        @for (currency of currencies; track currency.val) {
          <mat-option [value]="currency">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="currency.icon">
            </mat-icon>
            {{ currency.val }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

</form>
