:host {
  display: block;
  max-width: 1000px;
  margin: 2rem auto 0;
}


.form {
  display: flex;
  gap: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
